body {
    background-image: url('/images/p1.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-color:#f9f2f4;
}

.btn-commit{
    float:right;
    margin-top: 6px;
    margin-right: 10px;
}
.div-out{
    color: #999999;
}
.div-in{
    margin-top:163px;
    margin-left: 60px;
    margin-right: 60px;
}
.pwd-in{
    margin-bottom: 4px;
}

