.btn-commit{
    float:right;
    margin-top: 6px;
    margin-right: 10px;
}
.div-out{
    color: #999999;
}
.div-in{
    margin-top:163px;
    margin-left: 60px;
    margin-right: 60px;
}
.pwd-in{
    margin-bottom: 4px;
}

.publisn-btn{
    margin-top: 4px;
    float: right;
}
