<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BLOG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid">
    <div class="div-out row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>
        <!-- 正文 -->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${blogDTO.btitle}"></h2>
            <!--内容-->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="blog-view">
                <textarea style="display:none;" th:text="${blogDTO.bcontent}"></textarea>
            </div>
            <script type="text/javascript">
                $(function() {
                    editormd.markdownToHTML("blog-view", {});
                });
            </script>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
</body>
</html>