<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/blog.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid">
    <div class="div-out">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <form action="/publish" method="post">
                <div class="form-group">
                <span>
                <label for="title">博客标题:</label>
                <input type="text" class="form-control" th:value="${btitle}" id="btitle" name="btitle"
                       placeholder="博客标题......">
                </span>
                </div>
                <span>
                <textarea class="form-control" name="bcontent" rows="15" th:text="${bcontent}"></textarea>
                <input type="hidden" name="uid" th:value="${session.user.uid}">
                <button type="submit" class="publisn-btn">发布</button>
                </span>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
</body>
</html>