<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BLOG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid">
    <div class="div-out row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <div class="media" th:each="blogdto:${blogDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                            th:src="${blogdto.user.uavatar_url}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/blog/'+${blogdto.bid}}" th:text="${blogdto.btitle}"></a>
                    </h4>
                    <span th:text="${blogdto.uid}"></span><br>
                    <span>21<span></span>个回复 •
                        <span>2</span>次浏览 • 12 小时前
                        <span>3</span></span></span>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
</body>
</html>